{% extends 'layout1.html' %}

{% block style %}
	
	body
	{
		margin-top:5px;
	}
	input[type=text] 
	{
	    width: 100%;
	    padding: 12px 20px;
	    margin: 8px 0;
	    box-sizing: border-box;
	}
	.col-sm-3
	{
		height: 300px;
		border:2px solid black;
	}
	input[type=button]
	{
		margin:auto;
	}

{% endblock %}

{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3">
			<form action="http://localhost:5000/result" method = "POST">
				<label for="author_name">Author Name</label>
				<input type="text" name="author_name">
				<label for="title">Title</label>
				<input type="text" name="title">
				<input type="submit" value="POST">
			</form>
		</div>
		<div class="col-sm-3">
			<form action="http://localhost:5000/result" method="GET">
				<label for="id">ID</label>
				<input type="text" name="id">
				<input type="submit" value="GET">
			</form>
		</div>
		<div class="col-sm-3">
			<form action="http://localhost:5000/result" method = "PUT">
				<label for="id">ID</label>
				<input type="text" name="id">
				<label for="author_name">Author Name</label>
				<input type="text" name="author_name">
				<label for="title">Title</label>
				<input type="text" name="title">
				<input type="submit" value="PUT">
			</form>
		</div>
		<div class="col-sm-3">
			<form action="http://localhost:5000/result" method="DELETE">
				<label for="id">ID</label>
				<input type="text" name="id">
				<input type="submit" value="DELETE">
			</form>	
		</div>
	</div>

	<div id="result">
		{% block result %}{% endblock %}
	</div>
</div>	

{% endblock %}